#name: CI - MASTER

#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]

#jobs:
#  build:
#    name: Full Build (MASTER)
#    runs-on: ubuntu-latest

#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4

#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          distribution: temurin
#          java-version: '17'
#          cache: maven

#      - name: Full build with tests
#        run: mvn clean verify

#      - name: Package artifact
#        run: mvn -DskipTests package

#      - name: Upload JAR artifact
#        uses: actions/upload-artifact@v4
#        with:
#          name: app-jar
#          path: target/*.jar
